-content_for :page_title do
  Inscription à l'atelier « #{@workshop.name} »

-breadcrumb :workshop_registration, @workshop

.row
  .col-sm-6
    =@workshop.description.html_safe
  .col-sm-6
    %p.lead Notez que votre courriel et votre numéro de téléphone ne seront pas rendus publics
    =simple_form_for([:workshop, @workshop_registration]) do |f|
      =f.input :name, label: false, placeholder: "Nom complet", input_html: { autocomplete: 'off' }
      =f.input :email, label: false, placeholder: "Adresse de courriel", input_html: { autocomplete: 'off' }
      =f.input :phone, label: false, placeholder: "Numéro de téléphone", input_html: { autocomplete: 'off' }
      =f.submit "M'inscrire", class: "btn btn-primary"
