.btn-group.btn-group-justified.btn-group-lg{role: "group"}
  =link_to "1. Notre mission", mission_path, class: active == :mission ? "btn btn-info" : "btn btn-default"
  =link_to "2. Notre vision", notre_vision_path, class: active == :vision ? "btn btn-info" : "btn btn-default"
  =link_to "3. Notre moyen", notre_moyen_path, class: active == :moyen ? "btn btn-info" : "btn btn-default"
  =link_to "4. Nos objectifs", nos_objectifs_path, class: active == :objectifs ? "btn btn-info" : "btn btn-default"
