-content_for :page_title do
  À propos du site web

-breadcrumb :about_website
.row
  .col-xs-12
    %p Ce site web appartient à l'ensemble des constituant.es. Le #{link_to "comité web", structure_path(anchor: "comite-web")} est mandaté pour le mettre à jour selon les besoins de notre regroupement non partisan.
    
    %p Le code source est #{link_to "accessible publiquement sur Github", "https://github.com/accq/site-web", target: "_blank"} afin:
    %ol
      %li d'assurer un maximum de transparence;
      %li de favoriser la coopération entre les développeurs voulant contribuer à l'amélioration du site web;