-breadcrumb :assemblee_virtuelle

%p Le projet Constituons! est presque terminé. Son Assemblée constituante présentera le résultat de ses travaux d'ici la fin du mois de mai. Dès le début de juin, l'ACCQ prévoit l'organisation  d'assemblées virtuelles pour vous permettre de discuter du contenu de cette première constitution citoyenne.

%p Pour vous joindre aux discussions, vous devez installer notre outil d'audioconférence : 

%p= link_to image_tag("mumble-logo.png"), mumble_path

%p Dès le 2 juin prochain, vous pourrez suivre l'horaire des assemblées.

%p Attention! Cette activité est maintenant terminée.
