-content_for :page_title do
  Bibliothèque

-breadcrumb :bibliotheque

.row
  .col-md-6
    %h2.sub-section
      Constitutions de pays
    %p Plusieurs exemples de constitutions à venir
  .col-md-6
    %h2.sub-section
      Constitutions rédigées par des citoyens
    %p Plusieurs exemples de constitutions à venir
