-content_for :page_title do
  Qu'est-ce qu'une constitution?

%p
  Sans Constitution, le Québec est un État sans papier; son territoire, le trésor public, le développement social, l'utilisation des richesses naturelles sont à la merci du parti politique au pouvoir et des groupes d'intérêt qui le soutiennent. Aucune loi n’est plus importante que la Constitution d’un État pour assurer le devenir d’une Nation.
 
%p
  La Constitution est la Loi fondamentale qui sépare et organise les pouvoirs législatifs, exécutifs et judiciaires, et les autres lois lui sont assujetties. Elle se fonde sur les valeurs et les ambitions communes pour établir la structure sociale. Elle détermine la langue d'État, la place des autres langues, le droit à l'autodétermination des Premières Nations, les droits des minorités et des personnes vulnérables, etc.
 
%p
  La Constitution limite, guide et inspire les gouvernements en matière de politiques sociales, d'économie, d'environnement, d'éducation et de mieux-être de la population. La Constitution fixe aussi les conditions d’emploi, de démission et de destitution des élus. Elle peut prévoir un mécanisme citoyen pour la nomination des mandarins de l’État et de ses sociétés, fournir un cadre citoyen pour la pratique des lobbyistes, déterminer la composition des conseils d’administration des organismes d’État. Elle peut aussi instituer le pouvoir politique économique des régions et définir les cadres d'une véritable démocratie régionale et locale.
 
%p
  La Constitution incarne la souveraineté du peuple sur son État et son territoire. Elle lui permet de dicter ses ambitions et ses valeurs dans la gouvernance des institutions publiques.
 
%p
  Exigeons des personnes candidates aux prochaines élections la convocation d'une Assemblée constituante citoyenne, véritable affirmation de la volonté populaire. Visitez notre #{link_to "page Facebook", "https://www.facebook.com/ConstituanteCitoyenne", target: "_blank" }
