-content_for :page_title do
  BEAUCOUP PLUS QU'UNE SIMPLE EXPÉRIENCE THÉÂTRALE

-breadcrumb :constituons


%p L’expérience théâtrale « Constituons! », lancée par le metteur en scène Christian Lapointe, a réuni en 2018-19 une quarantaine de citoyen-ne-s ordinaires, tiré-e-s au sort par les soins de la firme Léger, pour rédiger un projet de constitution québécoise. Choisis de façon à respecter la parité homme-femme et refléter les réalités générationnelles, linguistiques et régionales du Québec, ces bénévoles ont produit avec des moyens matériels très limités un projet de constitution qui dépasse les clivages partisans habituels et qui met la table pour l'établissement de consensus nationaux sur nombre de grands enjeux.

%p Cette constitution a d'ailleurs été déposée symboliquement à l'Assemblée nationale au printemps 2019. Notre association tient à féliciter et à remercier toutes celles et ceux qui ont contribué de près ou de loin à la réalisation de Constituons! C'est avec enthousiasme que nombre des membres actifs ont contribué à l'initiative du metteur en scène Christian Lapointe.
%p Christian, au nom de tous les signataires de notre manifeste ...   MERCI!

.youtube-container{style: "margin:0;"}
  .youtube-player{"data-id" => "Lh71SO0Ggy4"}

%hr
%h3 La constitution de Constituons! - Un canevas de départ intéressant...
=link_to(image_tag("constitution_citoyenne_quebec"), constitution_citoyenne_quebec_path, target: "_blank")
:javascript
  (function() {
      var v = document.getElementsByClassName("youtube-player");
      for (var n = 0; n < v.length; n++) {
           var p = document.createElement("div");
          p.innerHTML = labnolThumb(v[n].dataset.id);
          p.onclick = labnolIframe;
          v[n].appendChild(p);
      }
  })();

  function labnolThumb(id) {
      return '<img class="youtube-thumb" src="//i.ytimg.com/vi/' + id + '/hqdefault.jpg"><div class="play-button"></div>';
  }

  function labnolIframe() {
      var iframe = document.createElement("iframe");
      iframe.setAttribute("src", "//www.youtube.com/embed/" + this.parentNode.dataset.id + "?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&controls=1&showinfo=0");
      iframe.setAttribute("frameborder", "0");
      iframe.setAttribute("id", "youtube-iframe");
      this.parentNode.replaceChild(iframe, this);
  }
