-content_for :page_title do
  Engagement solennel des personnes candidates aux élections d'octobre 2018

.well
  Nous commencerons à publier la liste des candidatures aux élections générales du 1er octobre 2018  à partir du 1er août. (nous mettrons ici le texte de l'engagement solennel quand il sera prêt)  
