-content_for :page_title do
  Rencontres informatives

-breadcrumb :local_workshops

%p Notez que nos rencontres informatives locales reprendront suite à la conférence de presse que nous entendons convoquer au printemps.
