-content_for :page_title do
  Signez le manifeste

-breadcrumb :manifest

#myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title EN 2020,  NOUS NOUS ENGAGEONS POUR UN QUÉBEC CITOYEN!
      .modal-body
        .text-justify
          %blockquote
            Avoir sa propre constitution, c’est comme avoir des papiers d’identité.
          %cite Claude Béland, coprésident de la Commission sur l'avenir politique et constitutionnel du Québec
          %br
          %br
          %p Le Québec vit, en ce moment, une anomalie historique. Les citoyens n'ont jamais consenti au régime politique qui les régit : une monarchie constitutionnelle dont les rouages et le fonctionnement leur échappent.

          %p La constitution, c'est la loi au-dessus de toutes les autres lois. C'est le texte de loi d'un pays ou d'une province qui garantit, durablement et efficacement, aux citoyennes et aux citoyens que les personnes qui gèrent les affaires de l'État travaillent dans l'intérêt général. C'est en quelque sorte un contrat social qui lie les individus et leurs mandataires.

          %p Pour les citoyennes et les citoyens, une bonne constitution doit assurer leur protection contre les abus de pouvoir. C'est là où on écrit, par exemple: « Les individus PEUVENT.... Les mandataires DOIVENT... »

          %p Concrètement, elle établit les règles que doivent suivre tous les responsables de l'État : les valeurs prioritaires inspirant chaque décision politique; les droits et les devoirs fondamentaux à respecter; les règles des institutions législatives, exécutives, judiciaires et électorales; l'organisation territoriale, régionale et municipale; les relations nationales et internationales; les mécanismes de révision de cette constitution; les conséquences de la violation de ses lois; etc.

          %blockquote
            Ce qui est important, ce n'est pas qui vote une constitution. Ce qui est important, c'est qui l'écrit.
          %cite Étienne Chouard, professeur français de droit et d'économie-gestion
          %br
          %br
          %p Une constitution écrite par et pour le peuple résulte d'une action concrète afin que les personnes élues prennent l'habitude de répondre aux exigences de la population en matière d'éducation, de santé, de sécurité, d'économie, de justice, de transport, d'alimentation, d'emploi, de moyens d'expression, d'environnement, etc.

          %p Une Assemblée constituante citoyenne permet à la population de s'approprier la constitution ainsi que le sens des lois qui en découlent.

          %p En signant ce manifeste, vous contribuez à un projet de société d'une grande importance.

          %p
            Nous votons pour la convocation d'une Assemblée constituante citoyenne !
            #{link_to "Signez le manifeste maintenant", manifest_path}
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Fermer cette fenêtre

.row
  .col-md-8.text-center
    .alert.alert-danger
      %i.fa.fa-info-circle.text-danger
      =link_to "UNE CONSTITUTION, UN BOUT DE PAPIER INUTILE? ERREUR...", "#", class: "alert-link", data: {"target" => "#myModal", "toggle" => "modal"}
.row
  .col-md-8#manifesto
    %ol
      %li
        Dans une démocratie digne de ce nom, le peuple est souverain. C’est donc à lui de dicter les règles du jeu.
      %li
        Présentement, la souveraineté du peuple est bafouée de toutes parts.  Trop souvent, ceux que nous choisissons pour nous représenter, une fois élus, servent d’autres intérêts que ceux du peuple.
      %li
        Pour sortir de cette impuissance politique, il ne suffit pas de manifester ni de changer de parti au pouvoir. Il faut changer le régime politique lui-même et les règles du jeu qui sont à la source de notre impuissance.
      %li
        Le moyen de changer de régime politique, c’est d’écrire la constitution de l’État. Une constitution est ce qui nous définit comme peuple distinct et nous protège des abus de pouvoir. C’est la Loi fondamentale que tous les dirigeants, organismes et citoyens doivent respecter.
      %li
        Le peuple québécois ne s’est jamais prononcé sur ce qui lui sert de constitution, aussi bien au Québec qu’au Canada.
      %li
        Pour écrire notre constitution, il faut avoir recours au peuple souverain, car les partis politiques sont sur ce sujet en conflit d’intérêts. Ce n’est pas aux gens au pouvoir d’écrire les règles du pouvoir.
      %li
        L’Assemblée par laquelle le peuple peut exercer sa souveraineté et son pouvoir constituant de façon légitime, ordonnée et efficace est ce qu’on appelle une Assemblée constituante. Son rôle est d’inviter la population à y participer et à proposer en toute liberté, un texte de constitution pour adoption par référendum. Elle doit être représentative, participative, non partisane et libre dans ses délibérations, donc composée idéalement de citoyens tirés au sort. Elle doit pouvoir recourir à toutes les ressources et expertises nécessaires pour faire son travail. Le débat public entourant son travail doit être encadré de façon à prévenir le contrôle de l’information par des intérêts particuliers.
      %li
        L'Assemblée constituante citoyenne doit idéalement être convoquée par l’Assemblée nationale pour s’assurer que la Constitution qui en résultera, une fois adoptée par référendum, ne puisse être écartée par les pouvoirs en place, au Québec, au Canada et à l’international.
      %li
        Nous, citoyennes et citoyens responsables, nous nous engageons à promouvoir, à préparer et à provoquer la convocation d’une Assemblée constituante non partisane, libre dans ses délibérations, et à tout mettre en œuvre pour que soit respectée la volonté du peuple québécois.
      %li
        Voici la #{link_to "mission", mission_path} que s'est donnée l'Alliance pour une constituante citoyenne du Québec (ACCQ)

  .col-md-4
    %p
      =link_to "<i class='fa fa-pencil-square-o'></i> Voir les #{Member.confirmed.count.to_s + " signatures"}".html_safe, signatures_path, class: "btn btn-primary", id: "all-signatures"

    %h3.sub-section
      Dernières signatures
    %ul.list-unstyled#last-signatures
      -@latest_signatures.each do |member|
        %li
          %small
            =member.name
            \-
            =l(member.created_at.to_date, format: :long )


.row
  .col-xs-12
    %h3 Je signe!
    =render "members/form"
