-content_for :page_title do
  Le manifeste de l'Assemblée constituante citoyenne du Québec

-breadcrumb :manifest
.row
  .col-md-8#manifesto
    %h3 Le manifeste *
    %ol
      %li
        Dans une démocratie digne de ce nom, le peuple est souverain. C’est donc à lui de dicter les règles du jeu.
      %li
        Présentement, la souveraineté du peuple est bafouée de toutes parts. Ceux que nous avons choisis pour nous représenter, une fois élus, servent davantage l’oligarchie économique que la population en général.
      %li
        Pour sortir de cette impuissance politique, il ne suffit pas de manifester ni de changer de parti au pouvoir. Il faut changer le régime politique lui-même et les règles du jeu qui sont à la source de notre impuissance.
      %li
        Le moyen de changer de régime politique, c’est d’écrire la constitution de l’État. Une constitution est ce qui nous définit comme peuple distinct et nous protège des abus de pouvoir. C’est la Loi fondamentale que tous les dirigeants, organismes et citoyens doivent respecter.
      %li
        Le peuple québécois ne s’est jamais prononcé sur ce qui lui sert de constitution, aussi bien au Québec qu’au Canada.
      %li
        Pour écrire notre constitution, il faut avoir recours au peuple souverain, car les partis politiques sont sur ce sujet en conflit d’intérêts. Ce n’est pas aux gens au pouvoir d’écrire les règles du pouvoir.
      %li
        L’assemblée par laquelle le peuple peut exercer sa souveraineté et son pouvoir constituant de façon légitime, ordonnée et efficace est ce qu’on appelle une Assemblée constituante. Son rôle est de consulter la population et de proposer, en toute liberté, un texte de constitution pour adoption par référendum. Elle doit être représentative, non partisane et libre de toute pression indue, donc composée idéalement de citoyens tirés au sort. Elle doit pouvoir recourir à toutes les ressources et expertises nécessaires pour faire son travail. Le débat public entourant son travail doit être encadré de façon à éviter autant que possible le contrôle de l’information par des intérêts particuliers.
      %li
        L'Assemblée constituante doit idéalement être convoquée par l’Assemblée nationale pour s’assurer que la Constitution qui en résultera, une fois adoptée par référendum, ne puisse être écartée par les pouvoirs en place, au Québec, au Canada et à l’international.
      
      %li
        Nous, Constituant.e.s, nous nous engageons à promouvoir, à préparer et à exiger la convocation d'une Assemblée constituante non partisane, libre de ses délibérations, et à tout mettre en œuvre pour obtenir le respect de la volonté du peuple par l'Assemblée nationale.


  .col-md-4
    %h3 Dernières signatures
    %ul.list-unstyled#last-signatures
      -@latest_signatures.each do |member|
        %li          
          %small
            =member.name
            \-          
            =l(member.created_at.to_date, format: :long )

          
          


.row
  .col-xs-12  
    %h3 Je signe!
    =render "members/form"