-content_for :page_title do
  Le manifeste de l'ACCQ

-breadcrumb :manifest
.row
  .col-md-8#manifesto
    %h3 Le manifeste
    %ol
      %li
        Dans une démocratie digne de ce nom, c'est le peuple qui est l'autorité ultime. C'est à lui de décider de la manière dont il veut se gouverner. Ensemble, nous nous engageons à redéfinir le mode de fonctionnement de l'État.
      %li
        Présentement, <strong>nos droits individuels et collectifs sont bafoués</strong> de toutes parts. Ceux que nous choisissons pour nous représenter, une fois élus, écoutent davantage les puissants que les simples citoyens.
      %li
        Pour sortir de notre impuissance, il ne suffit pas de manifester ni de changer de parti au pouvoir. <strong>Il faut changer le régime démocratique lui-même</strong> et revoir la répartition des pouvoirs.
      %li
        Le moyen de changer de régime politique, c'est d'<strong>écrire ou de réviser la constitution de l'État</strong>. Cette Loi fondamentale est ce qui nous constitue et nous définit en tant que peuple distinct et nous protège des abus de pouvoir. Nul ne peut la contourner sans d'abord avoir consulter le peuple.
      %li
        <strong>Le peuple québécois n'a jamais été consulté</strong> sur ce qui nous sert de constitution, aussi bien au Québec qu'au Canada.
      %li
        Pour écrire ou réécrire notre constitution, il faut avoir <strong>recours au peuple souverain</strong>, car les politiciens sont sur ce sujet, en conflit d’intérêt.
      %li
        L'assemblée par laquelle le peuple peut exercer son pouvoir de façon légitime, ordonnée et efficace est ce qu'on appelle une <strong>Assemblée constituante</strong>. Son rôle est d'inviter la population à participer et à proposer, en toute liberté, un texte de constitution pour adoption par référendum. Elle doit être représentative, libre de toute pression indue, donc, composée <em>idéalement</em> de citoyens <strong>tirés au sort</strong>. Le débat entourant son travail doit être équitablement encadré. Elle doit pouvoir avoir recours à toutes les ressources nécessaires pour faire son travail.
      %li
        L'Assemblée constituante doit <em>idéalement</em> être <strong>convoquée par l'Assemblée nationale</strong> pour s'assurer que la constitution qui en résultera, une fois adoptée par référendum, ne puisse être écartée par les pouvoirs en place, au Québec comme au Canada.
      
      %li
        Nous, constituants et constituantes, nous nous engageons à exercer les pressions nécessaires pour que soit convoquée rapidement dans les mois suivants le prochain rendez-vous électoral au Québec, une Assemblée constituante non partisane et indépendante de l'État.

      %li
        Nous, constituants et constituantes, participerons à définir ensemble le mode de fonctionnement d'une telle démarche et nous nous engagerons à jeter les bases d'une constitution préparatoire.
  .col-md-4
    %h3 Dernières signatures
    %ul.list-unstyled#last-signatures
      -@latest_signatures.each do |member|
        %li          
          %small
            =member.name
            \-          
            =l(member.created_at.to_date, format: :long )

          
          


.row
  .col-xs-12  
    %h3 Je signe!
    =render "members/form"