-content_for :page_title do
  Couverture médiatique

-breadcrumb :media_coverage
.row
  .col-md-6
    %h3.sub-section Articles de journaux
    %ul.list-unstyled
      %li
        14 septembre 2015
        \-
        %i La Tribune
        \-
        =link_to "Un groupe jete les bases d'une Constituante citoyenne du Québec", "https://www.lapresse.ca/la-tribune/estrie-et-regions/201509/14/01-4900298-un-groupe-jete-les-bases-dune-constituante-citoyenne-du-quebec.php", target: "_blank"

  .col-md-6
    %h3.sub-section Audio / Vidéo
    Aucun lien à afficher pour le moment
