-content_for :page_title do
  Couverture médiatique

-breadcrumb :media_coverage
.row
  .col-xs-12
    -@mci.each do |i|
      %h4
        =link_to i.title, i.url, target: "_blank"              
      %p.small
        Publication: #{l(i.published_on, format: :long)}
        |
        Source: #{i.source}        
        |
        =show_media_type_icon(i.media_type)   
      -if i.summary.present?
        %cite      
          =i.summary
        %small
          =link_to "<b>Afficher la suite »</b>".html_safe, i.url, target: "_blank", class: "btn btn-sm btn-default"
      .row
        .col-xs-12
          %hr/