-content_for :page_title do
  Mission

-breadcrumb :mission

.row
  .col-md-12
    =render "mission_nav", active: :mission
    %h2.sub-section Ce regroupement de Québécois et de Québécoises est né d'un double constat:
    %ol
      %li Les principes de notre gouvernance représentative permettent le contrôle des partis politiques et des puissances économiques qui détournent le pouvoir à leur profit, à tel point que la population n'a pratiquement aucune prise sur les décisions qui la concernent. Cet état de fait met en péril notre avenir et l'avenir du monde.
      %li La seule façon de surmonter notre impuissance est de nous rassembler et d'instituer un pouvoir populaire. Une Assemblée constituante citoyenne indépendante et NON PARTISANE est un moyen pacifique d’y arriver.

    %p Considérant que la population québécoise ne s’est jamais prononcée sur sa Loi fondamentale, NOUS, le peuple, sommes en droit de définir la façon dont nous voulons nous gouverner et de dicter les lignes directrices que doit suivre l’État. 

    %p L'Assemblée constituante citoyenne du Québec (ACCQ) se donne comme mission de préparer, de promouvoir et de provoquer la convocation d’une Assemblée constituante indépendante de l’État québécois et de rédiger une constitution provisoire. 