-content_for :page_title do
  Notre moyen

-breadcrumb :moyen

.row
  .col-md-12    
    =render "mission_nav", active: :moyen
    %h2.sub-section Assemblée constituante citoyenne du Québec

    %p 
      Notre regroupement d’hommes et de femmes engagés sur la voie d’une véritable démocratie a pour but d’initier la convocation d'une Assemblée constituante indépendante de l’État. Nous sommes déterminés à tout mettre en œuvre pour que la toute première constitution démocratique du Québec soit rédigée par et pour le peuple. Pour démontrer l’efficacité de notre mode de fonctionnement, nous nous engageons ensemble à la rédaction d’une première Constitution préparatoire.
    %p.lead
      Nous, Constituants, Constituantes, nous nous engageons à :

    %ul

      %li Promouvoir l’importance d’une démarche constituante citoyenne afin que notre constitution soit rédigée par et pour le peuple.
      %li Établir une structure organisée, décentralisée et démocratique avec l'objectif de mettre en place une Assemblée constituante citoyenne non partisane, entièrement libre de ses délibérations.
      %li Regrouper les Québécoises et les Québécois pour qu’ils exercent leur pouvoir constituant en les invitant d’abord à en définir le mode de fonctionnement.
      %li Instruire les Constituants et les Constituantes en leur offrant des outils d’éducation populaire par notre site WEB, nos séminaires WEB et nos assemblées informatives.  Ces ateliers constituants porteront sur les divers chapitres d'une constitution : choix de société, statut des minorités, langue officielle, laïcité, droits, libertés et responsabilités, services publics, ressources naturelles et environnement, sécurité, politiques économiques, fiscales et monétaires, type de gouvernement, mécanismes de participation des citoyens et des régions, gouvernements territoriaux, etc.
      %li Inviter tous les Québécois et toutes les Québécoises à participer à l'écriture d'une constitution provisoire.
      %li Poursuivre les pressions nécessaires sur ceux et celles qui souhaitent nous représenter pour qu'ils ou qu’elles s'engagent, au-delà de toute ligne de parti, à convoquer, sans délai, une Assemblée constituante non partisane et indépendante de l’État, à la suite du prochain rendez-vous électoral québécois.  Cette Assemblée sera mandatée pour rédiger et faire adopter notre toute première constitution démocratique du Québec.

    