-content_for :page_title do
  Nous joindre

-breadcrumb :nous_joindre

.row
  .col-md-12    
    %p Lors de la dernière rencontre nationale, les participants ont mandaté un comité organisateur intérimaire. Leurs coordonnées seront disponibles très bientôt.