-content_for :page_title do
  Nous joindre

-breadcrumb :nous_joindre

.row
  .col-md-12

    %ul.list
      %li Comité Communication Jean-Claude Gauthier, ACRQ 13 - Laval
      %li Comité Éducation citoyenne Philippe Malric, ACRQ 06 - Montréal
      %li Comité Éthique Marie-Luce Fortier, ACRQ 03 – Capitale-Nationale
      %li Comité Financement Éric Groleau, ACRQ 04 - Mauricie
      %li Comité Multimédia (TI) Marc-André Robillard, ACRQ 14 – Lanaudière
      %li Comité Secrétariat-registrariat Danielle Morin, ACRQ 05 - Estrie


    %p L'ACCQ tient à remercier ceux et celles qui s'impliquent avec dévouement et conviction.
.alert.alert-info Pour nous joindre: #{mail_to "info@constituantecitoyenne.quebec"}
