-content_for :page_title do
  Nous joindre

-breadcrumb :nous_joindre

.row
  .col-md-12    
    %p
      Lors de la dernière rencontre nationale tenue à Saint-Lambert les 12 et 13 décembre 2015, l’assemblée a élu un Conseil des opérations intérimaire (COI). Ce conseil est formé des sept membres suivants :

    %table.table.table-striped
      %thead
        %tr
          %th Fonction
          %th Citoyen.ne
      %tbody
        %tr
          %td Mobilisation
          %td Jean-Pierre Blanchard
        %tr
          %td Éducation
          %td Delphine Colignon
        %tr
          %td Financement et trésorie
          %td Marc Dion
        %tr
          %td Communications
          %td Maxime Gagnon
        %tr
          %td Secrétariat et registrariat
          %td Maxime Gingras
        %tr
          %td Résolution de problèmes
          %td Renée Pronovost
        %tr
          %td Web
          %td René Philippe Viens



.alert.alert-info Pour nous joindre: #{mail_to "coi@constituantecitoyenne.quebec"}
