-content_for :page_title do
  Nous joindre

-breadcrumb :nous_joindre

.row
  .col-md-12    
    %p
      Lors de la dernière rencontre nationale tenue à Saint-Lambert les 12 et 13 décembre 2015, l’assemblée a élu un Conseil des opérations intérimaire (COI). Ce conseil était formé de sept membres. Après trois démissions, l’actuel COI est formé des membres suivants :

    %table.table.table-striped
      %thead
        %tr
          %th Fonction
          %th Citoyen.ne
      %tbody
        %tr
          %td Conseiller
          %td Jean-Pierre Blanchard
        %tr
          %td Trésorier
          %td Marc Dion
        %tr
          %td Conseiller
          %td Maxime Gingras
        %tr
          %td Conseiller
          %td René Philippe Viens



.alert.alert-info Pour nous joindre: #{mail_to "coi@constituantecitoyenne.quebec"}
