-content_for :page_title do
  Nous joindre

-breadcrumb :nous_joindre

.row
  .col-md-12    
    %p Lors de la dernière rencontre nationale, les participants ont créé un comité organisateur intérimaire dont le mandat est de poursuivre la mise en place de la structure nécessaire pour atteindre nos objectifs. Les coordonnées des membres du comité seront disponibles très bientôt.