-content_for :page_title do
  Nous joindre

-breadcrumb :nous_joindre

.row
  .col-md-12
    %p
      À la suite de la 4e rencontre nationale qui s’est tenue à Trois-Rivières en mai 2016, il a été convenu de mettre sur pied huit comités dont les responsables auront pour rôle de coordonner les activités de l’ACCQ. En date du 24 novembre 2016, voici les responsables choisis :

    %ul.list
      %li Comité Communication Jean-Claude Gauthier, ACRQ 13 - Laval
      %li Comité Éducation citoyenne Philippe Malric, ACRQ 06 - Montréal
      %li Comité Éthique Marie-Luce Fortier, ACRQ 03 – Capitale-Nationale
      %li Comité Financement Éric Groleau, ACRQ 04 - Mauricie
      %li Comité Multimédia (TI) Marc-André Robillard, ACRQ 14 – Lanaudière
      %li Comité Secrétariat-registrariat Danielle Morin, ACRQ 05 - Estrie



.alert.alert-info Pour nous joindre: #{mail_to "coi@constituantecitoyenne.quebec"}
