-content_for :page_title do
  Noyau central

-breadcrumb :noyau

.row
  .col-sm-7
    =image_tag "noyau_central.jpg", class: "img-responsive thumbnail"
  .col-sm-5
    %h3.sub-section.no-margin Deux composantes forment le noyau central:

    %ol
      %li= link_to "Comité organisateur (COOR)", action: :coor
      %li= link_to "Responsables régionaux", action: :responsables_regionaux