-content_for :page_title do
  Noyau central

-breadcrumb :noyau

.row
  .col-sm-8
    =image_tag "noyau_central.jpg", class: "thumbnail img-responsive"
  .col-sm-4
    %h3.sub-section.no-margin Comités
    %ul
      %li A: Comité XYZ
      %li B: Comité XYA