-content_for :page_title do
  OBNL

-breadcrumb :obnl

%p
  Comme vous le savez certainement, l’Alliance pour une constituante citoyenne du Québec a été constituée auprès du Registraire des entreprises du Québec le 5 février 2016 en tant qu’organisme à but non lucratif (OBNL).

%p Prochainement, vous serez invité-e-s à la première assemblée générale pour formaliser notre organisation. Tous les signataires du manifeste (en bleu pour montrer le lien vers la page du manifeste) sont invités à devenir membres en règle de façon à pouvoir participer, lors de cette assemblée, à l'élection de notre conseil d'administration.

%p Nos bénévoles ont rédigé les statuts et règlements (lien) de l'OBNL que nous vous invitons à lire puisqu'ils devront être entérinés lors de cette rencontre.

%p Au plaisir de  nous voir tous rassemblés et de nous donner les moyens d'accomplir notre mission (lien vers la mission) à l'ACCQ.
