-content_for :page_title do
  Organigramme

-breadcrumb :organigramme

.row
  .col-md-8
    %h3.sub-section
      Structure organisationnelle globale

    %p
      =image_tag "structure_organisationnelle_globale.jpg", class: "img-responsive"
    %p
      L’Assemblée constituante citoyenne du Québec vous remercie de prendre le temps nécessaire pour bien comprendre les fondements de notre organisation. Nous tenons à préciser que la structure de notre organisation est horizontale. 
      
    %p
      Bien que tous les postes occupés par les constituant.e.s nécessitent des talents et des compétences particulières, aucun des responsables n’a autorité sur les autres. Les constituant.e.s impliqués sont des personnes de confiance qui travaillent avec enthousiasme et détermination à la poursuite de notre objectif commun, soit :
    %blockquote 
      %h3 La convocation d’une Assemblée constituante, totalement libre de ses délibérations!

    %p
      Pour ce faire, seul un nombre imposant de Québécois et Québécoises comprenant bien le sens de notre démarche permettra de changer cette culture de démocratie représentative qui est, selon nous, la source de nombreux abus de pouvoir que nous subissons collectivement. 
    %p
      Voilà pourquoi nous nous engageons à tout mettre en œuvre pour mobiliser, le plus rapidement possible, un minimum de 1000 personnes par circonscription comprenant bien le sens d’une démarche constituante libre de ses délibérations.    
    %blockquote
      %h3 Pour le moment, nous faisons le pari que nos représentants élus respecteront notre volonté.
  .col-md-4
    .well
      %ul.list-unstyled
        %li
          %strong Nos structures régionales
          %ul
            %li NOUS, constituant.e.s
            %li 
              Nos responsables régionaux
              %ul
                %li Responsable de l'accueil et de la mobilisation
                %li Responsable des services en région
                %li Secrétaire
                %li Trésorier
                %li Porte-parole


        %li
          %strong Notre structure nationale
          %ul
            %li Tables nationales
            %li
              Comité organisateur (COOR)
              %ul
                %li Conseil des opérations
                %li 
                  Comités nationaux
                  %ul                    
                    %li Mobilisation    
                    %li Financement et trésorerie   
                    %li Communications   
                    %li Éducation   
                    %li Web  
                    %li Secrétariat et registrariat   
                    %li Résolution de problèmes    
                %li Responsables des services en régions (RSR)        
