-content_for :page_title do
  Devenez partenaire actif

%p
  Si vous avez du temps à nous consacrer pour nous aider davantage dans notre initiative, nous vous invitons à vous joindre à notre équipe de partenaires. Communiquez avec nous à #{mail_to "info@accq.quebec"}. Nous  vous contacterons incessamment pour vous expliquer comment participer à notre réflexion collective et à nos actions. Nous travaillons selon les principes du consensus et de la démocratie participative.
