-content_for :page_title do
  Devenez membre en règle ou faites un don!

-breadcrumb :pour_devenir_membre

%p
  =link_to "Pour voir les modalités de paiement", "/paiement_cotisation.pdf", target: "_blank"
