-content_for :page_title do
  Promouvoir

-breadcrumb :promotional_tools
.row
  .col-md-12
    %h2.sub-section Portez fièrement votre macaron sur Facebook!
    %p.lead
      Bientôt disponible, revenez nous visiter.
      -if false
        Nous vous invitons à modifier votre photo de profil Facebook afin de #{link_to "porter nos couleurs dès maintenant!", "http://www.onlinebadgemaker.com/badge/2354", target: "_blank"}
.row
  .col-md-12
    %h2.sub-section Tracts à distribuer

    %p
      =fa_icon "download"
      =link_to "Tract (x3)", asset_url("tractx3.pdf"), target: "_blank"

    %p
      =fa_icon "download"
      =link_to "Tract (x6)", asset_url("tractx6.pdf"), target: "_blank"
