-content_for :page_title do
  Promouvoir

-breadcrumb :promotional_tools

.row
  .col-md-12
    %h2.sub-section Tracts à distribuer

    %p
      =fa_icon "download"
      =link_to "Tract (x3)", asset_url("tractx3.pdf"), target: "_blank"

    %p
      =fa_icon "download"
      =link_to "Tract (x6)", asset_url("tractx6.pdf"), target: "_blank"
