-content_for :page_title do
  Questionnaire, Bilan de la situation, ACCQ

-breadcrumb :questionnaire_bilan

.row
  .col-md-4

    %p
      =image_tag "questionnaire-bilan.jpg", class: "img-responsive"
  .col-md-8
    %div
      Sondage en ligne (<font color="#00AA00">recommandé</font>) : 
      %br/
      :plain
        <a href="https://sondage.fb-app.co/bilan-accq" target="_blank">Section&nbsp;1</a>  <a href="https://sondage.fb-app.co/sondage-accq-section-2" target="_blank">Section&nbsp;2</a>  <a href="https://sondage.fb-app.co/sondage-accq-section-3" target="_blank">Section&nbsp;3</a>  <a href="https://sondage.fb-app.co/sondage-accq-section-4" target="_blank">Section&nbsp;4</a>  <a href="https://sondage.fb-app.co/sondage-accq-section-5" target="_blank">Section&nbsp;5</a>
      %br/
      %br/
      Questionnaire PDF (<font color="#AA0000">utilisateurs avertis</font>) :
      %br/
      #{link_to "Questionnaire, Bilan de la situation, ACCQ", questionnaire_bilan_path(format: :pdf)}.
      %br/
      %br/
      %b IMPORTANT : EXPRIMEZ-VOUS AU PLUS TARD LE 14 MARS 2016
      %br/
      %br/

.row
  .col-xs-12

    %p
      %center
        %b Exprimons-nous aujourd’hui pour mieux décider demain!

    %p Par la présente, le Conseil des opérations (CO) incite fortement tous les membres de l’Assemblée constituante citoyenne du Québec (ACCQ) à participer à un vaste sondage portant sur le mouvement.

    %p Ce sondage s’inscrit dans le cadre du bilan de la situation à l’ACCQ. Rappelons-nous, un bilan de la situation permet d’effectuer un retour critique sur les diverses étapes d’un projet, de déterminer les forces et les faiblesses de l’organisation et de cerner aussi bien les réussites que les échecs.

    %p Ce sondage vise aussi à connaître notre degré de satisfaction, nos attentes et nos besoins au sein de l’ACCQ. Il porte sur plusieurs aspects importants de notre organisme qui, une fois analysés et rassemblés, nous donneront une vue d’ensemble de la situation. C’est cette vision globale qui nous permettra de repartir du bon pied avec un plan d’action stratégique réaliste et démocratique.

    %p Si la cause de l’ACCQ nous tient à cœur, si l’avenir du mouvement nous importe, alors notre participation à ce sondage est plus qu’importante : elle est cruciale.

    %p Faites vite! La date limite pour retourner le questionnaire est le <strong>14 mars 2016</strong>. 

    %p Exprimons-nous aujourd’hui pour mieux décider demain!

