-content_for :page_title do
  Responsables régionaux

-breadcrumb :responsables_regionaux

.row
  .col-xs-12

    .alert.alert-warning Ce qui suit est une proposition à discuter dans vos ACRQ.


    %h2 Propositions des tâches des responsables régionaux 
    %h3.sub-section Responsable de l’accueil des futurs Constituant.e.s  
    %p
      Le rôle de ce responsable est d'une très grande importance afin de permettre aux nouveaux membres de bien comprendre le sens de notre démarche et de prendre connaissance le plus rapidement possible des développements passés et en cours. Les tâches suivantes incombent au responsable de l'accueil des membres (RAM) et s’ajoutent à ses tâches de responsabilité :
    %ul
      %li
        S'assure, par la page Facebook de son ACRQ, de rejoindre les nouveaux membres dans les plus brefs délais possible afin qu'ils soient mis au fait des nouveaux développements dans leur région;
      %li
        Avant d'ajouter un membre, s'assure qu'il est de sa région, sinon, l'invite à se joindre à l'ACRQ de sa région. Il prend aussi le temps de jeter un coup d'œil au profil du nouveau membre;
      %li
        Contacte d'abord le nouveau membre par messagerie Facebook pour lui souhaiter la bienvenue et lui demander s'il accepte de s'entretenir au téléphone avec lui, les communications de vive voix étant fortement recommandées pour établir un lien personnalisé avec le nouveau membre;
      %li
        S'assure que le nouveau membre a pris connaissance du manifeste et des énoncés de mission et sinon, l'encourage à le faire; 
      %li
        Encourage le nouveau membre à visionner les vidéos disponibles dans la médiathèque de notre site Internet. Trois vidéos sont fortement recommandés : "Sommes-nous en démocratie", "Vers la vraie démocratie" et "Chercher la cause des causes" d'Étienne Chouard; 
      %li Demande au nouveau membre s'il accepte de partager ses coordonnées (courriel et téléphone) sur une liste CONFIDENTIELLE; 
      %li S'assure que le nouveau membre s'inscrit sur notre site Internet et signe le manifeste. Ne pas oublier de lui mentionner que nous prendrons soin de respecter la confidentialité des informations personnelles;
      %li
        Doit s’acquitter des différents mandats qui lui sont confiés ou dont il a pris la responsabilité; 
      %li
        S’assure de l’exactitude et de la conformité de tous les rapports inhérents aux différents mandats dont il a la responsabilité et présente ceux-ci au Comité organisateur national dans les délais demandés; 
      %li
        Surveille les conflits d’intérêts et s’abstient de se trouver dans cette situation.

    %h3.sub-section Responsable des services de régions (RSR)
    %p
      Le responsable des services de région est le représentant officiel de sa région et il est responsable de la surveillance générale des affaires de son ACRQ. Il est le lien de sa région avec les autres régions, lors des tables nationales. Il a également la responsabilité de prendre les mesures nécessaires pour assurer son bon fonctionnement des rencontres régionales de sa région. Les tâches suivantes incombent au RSR et s’ajoutent à ses tâches de responsabilité :
    %ul
      %li En collaboration avec les autres responsables de sa région, établit les buts, les objectifs et les priorités visant à satisfaire les besoins de son ACRQ; 
      %li Fixe, conjointement avec les autres responsables, le calendrier des réunions et des séances informatives dans son ACRQ; 
      %li Procède à tous les préparatifs nécessaires pour la tenue de toute rencontre (réservation de salle, équipements, etc.); 
      %li Coordonne l’ensemble des activités de son ACRQ et s’assure du suivi des dossiers; 
      %li Assure le bon fonctionnement de son ACRQ en suivant les politiques générales élaborées; 
      %li Retransmet les propositions entérinées par les autres régions aux membres de son ACRQ, lors des assemblées régionales de son ACRQ;
      %li Doit s’acquitter des différents mandats qui lui sont confiés ou dont il a pris la responsabilité; 
      %li 
        S’assure de l’exactitude et de la conformité de tous les rapports inhérents aux différents mandats dont il a la responsabilité et présente ceux-ci au Comité organisateur national dans les délais demandés;
      %li Surveille les conflits d’intérêts et s’abstient de se trouver dans cette situation.

    %h3.sub-section Secrétaire
    %p Les tâches suivantes incombent au secrétaire et s’ajoutent à ses tâches de responsabilité :
    %ul
      %li De concert avec les autres responsables régionaux, détermine et prépare l’ordre du jour des réunions;
      %li Convoque les rencontres; 
      %li Rédige les procès-verbaux de toutes les réunions;                                                                                      
      %li Préside les réunions;
      %li S’assure de l’exactitude des procès-verbaux des réunions et les achemine au Comité de secrétariat national;
      %li Conserve les procès-verbaux et les dossiers de toutes les réunions et envoie une copie au national; 
      %li Assume la responsabilité du contenu, de la mise à jour et de la publication des documents officiels de son ACRQ et y appose sa signature; 
      %li Rédige, sur demande des responsables régionaux, toute lettre ou document; 
      %li Assume la responsabilité de l’envoi et de la réception de toute correspondance; 
      %li Doit s’acquitter des différents mandats qui lui sont confiés ou dont il a pris la responsabilité; 
      %li S’assure de l’exactitude et de la conformité de tous les rapports inhérents aux différents mandats dont il a la responsabilité et présente ceux-ci au Comité organisateur national dans les délais demandés; 
      %li Surveille les conflits d’intérêts et s’abstient de se trouver dans cette situation.

    %h3.sub-section Trésorier
    %p Les tâches suivantes incombent au trésorier et s’ajoutent à ses tâches de responsabilité :
    %ul
      %li Voit à la garde des biens de son ACRQ, qu'il administre suivant les directives des responsables de son ACRQ, et de ses livres de comptabilité; 
      %li Rend un compte-rendu financier à chaque réunion mensuelle de sa région et un bilan complet à l'assemblée annuelle; 
      %li Assume la responsabilité de la bonne gestion des affaires financières et de la présentation des états financiers; 
      %li Signe pour toutes les dépenses de son ACRQ et émet les chèques; 
      %li Signe les documents financiers pertinents de sa région; 
      %li En fonction des décisions prises dans sa région, s'assure que les surplus seront remis au Comité organisateur national; 
      %li Doit s’acquitter des différents mandats qui lui sont confiés ou dont il a pris la responsabilité; 
      %li S’assure de l’exactitude et de la conformité de tous les rapports inhérents aux différents mandats dont il a la responsabilité et présente ceux-ci Comité organisateur national dans les délais demandés; 
      %li Surveille les conflits d’intérêts et s’abstient de se trouver dans cette situation.

    %h3.sub-section Porte-Parole
    %p Les tâches suivantes incombent aux porte-parole et s’ajoutent à ses tâches de responsabilité :
    %ul
      %li Crée un lien constant entre son ACRQ et le public;
      %li Donne une figure à son ACRQ dans les événements publics;
      %li Permet aux opinions véhiculées par son ACRQ d'être connues;
      %li Est un point unique de contact avec les médias;
      %li Augmente la visibilité de son ACRQ et améliore la perception de celle-ci par le public;
      %li Est présent lors des conférences de presse et des événements médiatisés;
      %li Donne des interviews aux journalistes dans le cadre d'une campagne de relations de presse;
      %li Fait connaître publiquement son implication auprès de son ACRQ;
      %li Développe un réseau de contacts qui puisse être éventuellement utile;
      %li Orchestre les campagnes d'information publique et les séances informatives;
      %li Donne des conférences sur des sujets connexes aux activités de son ACRQ, ce qui le situera comme un expert en son domaine;
      %li Doit s’acquitter de toutes les tâches ou mandats qui lui sont confiés ou dont il a pris la responsabilité; 
      %li S’assure de l’exactitude et de la conformité de tous les rapports inhérents aux différents mandats dont il a la responsabilité et présente ceux-ci au Comité organisateur national dans les délais demandés; 
      %li Surveille les conflits d’intérêts et s’abstient de se trouver dans cette situation.