.well
  %h2.no-margin
    Nous, <b>constituant.e.s</b>, nous nous engageons à promouvoir, à préparer et à exiger la convocation d'une Assemblée constituante non partisane, libre de ses délibérations, et à tout mettre en œuvre pour obtenir le respect de la volonté du peuple.

  %p
    #{link_to "<i class='fa fa-pencil-square-o'></i> Nous vous invitons à vous engager avec NOUS. <b>Signez le manifeste!</b>".html_safe, manifest_path, class: "btn btn-danger btn-lg", id: "#sign-manifest"}
%p.small
  %i
    * Veuillez noter que tout le contenu de notre site web est encore en processus d'approbation.     

.row.regions
  .col-md-6
    %h3.sub-section Prochaine rencontre nationale à Lévis!
    %p <b>Avis important!</b> Notre deuxième rencontre nationale se tiendra les 31 octobre et 1er novembre 2015 à Lévis. #{link_to "Joignez-vous à NOUS!", action: :deuxieme_rencontre_nationale}
    %h3.sub-section Première rencontre nationale
    %p Les constituant.e.s s'expriment!
    .youtube-container
      .youtube-player{"data-id" => "pvR3yU2KB44"}    

    %p Roméo Bouchard prend la parole lors de la première rencontre nationale de l'Assemblée constituante citoyenne du Québec.
    .youtube-container
      .youtube-player{"data-id" => "YnKJn2_3Dzk"}    



    %h3.sub-section Aimez notre page Facebook
    :plain
      <div class="fb-page" data-href="https://www.facebook.com/ConstituanteCitoyenne?fref=ts" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/ConstituanteCitoyenne?fref=ts"><a href="https://www.facebook.com/ConstituanteCitoyenne?fref=ts">Assemblée constituante citoyenne du Québec</a></blockquote></div></div>    
  

  .col-md-6
    %h3.sub-section Pour rejoindre votre Assemblée constituante régionale québecoise (ACRQ) 

    .row
      -@hives.each_with_index do |h,index|
        .col-md-4.col-xs-6  
          .thumbnail
            =image_tag(h.image.url)
            .caption
              Région #{show_hive_number(h.number)}
              %br/
              =h.name
              %br/
              =fa_icon ("arrow-right")
              =link_to("Aller à la page", hive_path(h))

        -if (index+1) % 2 == 0
          .clearfix.visible-xs.visible-sm
        -if (index+1) % 3 == 0
          .clearfix.visible-md.visible-lg          
:javascript
  $( document ).ready(function() {      
   
      $('.thumbnail').hover(
          function(){
              $(this).find('.caption').slideDown(250); //.fadeIn(250)
          },
          function(){
              $(this).find('.caption').slideUp(250); //.fadeOut(205)
          }
      ); 
  });

  (function() {
      var v = document.getElementsByClassName("youtube-player");
      for (var n = 0; n < v.length; n++) {          
          var p = document.createElement("div");
          p.innerHTML = labnolThumb(v[n].dataset.id);
          p.onclick = labnolIframe;
          v[n].appendChild(p);
      }
  })();
   
  function labnolThumb(id) {
      return '<img class="youtube-thumb" src="//i.ytimg.com/vi/' + id + '/hqdefault.jpg"><div class="play-button"></div>';
  }
   
  function labnolIframe() {
      var iframe = document.createElement("iframe");
      iframe.setAttribute("src", "//www.youtube.com/embed/" + this.parentNode.dataset.id + "?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&controls=0&showinfo=0");
      iframe.setAttribute("frameborder", "0");
      iframe.setAttribute("id", "youtube-iframe");
      this.parentNode.replaceChild(iframe, this);
  }  
