-content_for :page_title do
  La première table nationale de l'ACCQ

.row
  .col-xs-12
    %p
      Nous sommes heureux de vous informer que la toute PREMIÈRE RENCONTRE NATIONALE se tiendra les 12 et 13 septembre prochain dans la région Drummondville.

    %p Tous les membres seront informés des détails de cet événement fondateur d'ici le 21 août prochain.

    %p
      D'ici là, concentrons nos énergies afin de mobiliser et de regrouper dans chacune des 17 Assemblées Constituantes Régionales Québécoises (ACRQ), une centaine de citoyennes et de citoyens qui comprennent bien le sens de notre démarche constituante (ces regroupements correspondent actuellement aux 17 régions administratives du Québec).