%h3.sub-section
  Conseil des opérations (C.O.)

%p
  =image_tag "organigramme/conseil_des_operations.jpg", class: "img-responsive thumbnail"

%p
  Le Conseil des opérations (C.O.) se veut le cœur de la structure horizontale de l’Assemblée constituante citoyenne du Québec. Toutes ses décisions sont prises en collégialité. C’est lui qui voit au bon fonctionnement et à l’harmonisation de nos structures. Son mandat est d’assurer l’unité de toutes les entités actuellement formées et à venir. Ses membres doivent être choisis avec beaucoup de vigilance puisque c’est l’épine dorsale de notre structure et le fer de lance de notre démarche. L’engagement des membres qui en feront partie doit être basé sur une intégrité à toute épreuve pour ne servir aucun autre intérêt que celui du peuple.    

%p
  Le C.O. est l'instance qui fait le lien entre les régions et assure la libre circulation des informations. Il s’assure que toutes les décisions entérinées par la majorité absolue des membres d’une ACRQ soient acheminées dans les autres régions pour que celles-ci  les entérinent à leur tour. 

%p
  Le Conseil des opérations supervise le travail des comités et assure leur bon fonctionnement. Il a la responsabilité d’établir les grandes lignes d’orientation avec les responsables des services en région. Il a le pouvoir de prendre les décisions nécessaires pour assurer le bon fonctionnement des groupes et des événements promotionnels.  Il n’a cependant aucun pouvoir exécutif sur les orientations sans d’abord avoir reçu l’assentiment d’une majorité absolue des dix-sept ACRQ. 
%ul
  %li Propose les statuts et règlements qui devront être entérinés par les régions;
  %li Dispose des rapports financiers;
  %li Propose lors des Tables nationales,  les programmes trimestriels, les principales activités, les priorités et les orientations;
  %li Propose la création de comités de travail parallèles (comités ad hoc);
  %li Structure et propose le plan d'action en vue de réaliser nos énoncés de mission;
  %li Administre et assure, en compagnie du comité financement et trésorerie, la saine gestion des argents perçus.

%p
  =mail_to "coi@constituantecitoyenne.quebec"