%h3.sub-section
  Responsables des services en région (RSR)

%p
  =image_tag "organigramme/rsr.jpg", class: "img-responsive thumbnail"

%p
  Le responsable des services en région (RSR) est le représentant officiel de son #{link_to "ACRQ", hives_path} et il assure la surveillance générale de ses affaires. Il est le lien de sa région avec les autres régions lors des réunions du COOR et assiste aux Tables nationales. Il a également la responsabilité de prendre les mesures nécessaires pour assurer le bon fonctionnement des rencontres de sa région. Les tâches suivantes incombent au RSR et s’ajoutent à ses tâches de responsabilité :

%ul
  %li En collaboration avec les autres responsables de sa région, établit les objectifs et les priorités visant à satisfaire les besoins de son ACRQ; 
  %li Établit, conjointement avec les autres responsables, le calendrier des réunions et des séances informatives dans son ACRQ; 
  %li Procède à tous les préparatifs nécessaires pour la tenue de toute rencontre (réservation de salle, équipements, etc.); 
  %li Coordonne l’ensemble des activités de son ACRQ et s’assure du suivi des dossiers; 
  %li Assure le bon fonctionnement de son ACRQ en suivant les politiques générales élaborées; 
  %li Retransmet les propositions entérinées par les autres régions aux membres de son ACRQ, lors des assemblées régionales;
  %li S’acquitte des différents mandats qui lui sont confiés ou dont il a pris la responsabilité; 
  %li 
    S’assure de l’exactitude et de la conformité de tous les rapports inhérents aux différents mandats dont il a la responsabilité et présente ceux-ci au Comité organisateur national dans les délais prescrits; 
  %li Surveille les conflits d’intérêts et s’abstient de se trouver dans cette situation; 
  %li Accomplit toute autre tâche jugée pertinente.  