%h2.sub-section
  Tables nationales

%p
  Les Tables nationales sont le lieu où toutes les résolutions entérinées par les régions sont transmises et celles proposées par le Comité organisateur (COOR) sont déposées. Bien qu’elles soient des Assemblées souveraines, chacune des décisions adoptées par les constituant.e.s qui y participent doit ensuite être entérinée dans chacune des régions. Le COOR est le responsable de l’organisation de ces Tables nationales.

%p Les Tables nationales se tiendront mensuellement, la dernière fin de semaine complète de chaque mois, suite aux réunions des ACRQ, à compter de janvier 2016. 

%p 
  Ces réunions auront lieu à tour de rôle dans chacune des dix-sept ACRQ et seront bien sûr ouvertes à tous. Ceci permettra de mieux promouvoir notre démarche.

%p Lors de la deuxième rencontre nationale à Lévis, nous suggérons de tirer au sort les endroits où se tiendront nos dix-sept Tables nationales. Merci d’être des nôtres…