-content_for :page_title do
  Votre assemblée régionale
-breadcrumb :hive, "Capitale nationale"
.row
  .col-md-6
    =image_tag "regions/capitale_nationale.jpg", class: "img-responsive thumbnail"

  .col-md-6
    %h3.no-margin Capitale Nationale (03)
    
    %p Nom des personnes responsables et informations de contact à venir

    %p
      =fa_icon "facebook-square"
      =link_to "Page facebook de l'ACRQ 03", "https://www.facebook.com/groups/ACRQ03", target: "_blank"
