-content_for :page_title do
  Votre assemblée régionale

-breadcrumb :hive, "Chaudière-Appalaches"
.row
  .col-md-6
    =image_tag "regions/chaudiere_appalaches.jpg", class: "img-responsive thumbnail"

  .col-md-6
    %h3.no-margin Chaudière-Appalaches (12)
    
    %p Nom des personnes responsables et informations de contact à venir

    %p
      =fa_icon "facebook-square"
      =link_to "Page facebook de l'ACRQ 12", "https://www.facebook.com/groups/ACRQ12", target: "_blank"
