-content_for :page_title do
  Votre assemblée régionale

-breadcrumb :hive, "Gaspésie/Îles-de-la-Madeleine"
.row
  .col-md-6
    =image_tag "regions/gaspesie.jpg", class: "img-responsive thumbnail"

  .col-md-6
    %h3.no-margin Gaspésie / Îles-de-la-Madeleine (11)
    
    %p Nom des personnes responsables et informations de contact à venir

    %p
      =fa_icon "facebook-square"
      =link_to "Page facebook de l'ACRQ 11", "https://www.facebook.com/groups/ACRQ11", target: "_blank"
