-content_for :page_title do
  Liste des assemblées constituantes régionales du Québec (ACRQ)

-breadcrumb :hives
.row
  .col-md-12  
    %ul 
      -@hives.each do |h|
        %li= link_to "#{show_hive_number(h.number)} - #{h.name}", hive_path(h)
