-content_for :page_title do
  Votre assemblée régionale

-breadcrumb :hive, "Mauricie"
.row
  .col-xs-6
    =image_tag "regions/mauricie.jpg", class: "img-responsive thumbnail"

  .col-xs-6
    %h3.no-margin Région de la Mauricie (04)
    
    %p Nom des personnes responsables et informations de contact à venir

    %p
      =fa_icon "facebook-square"
      =link_to "Page facebook de l'ACRQ 04", "https://www.facebook.com/groups/ACRQ04/", target: "_blank"

