-content_for :page_title do
  #{show_hive_number(@hive.number)} . #{@hive.name}

-breadcrumb :hive, @hive.name
.row
  .col-md-12
    %p Bienvenue dans votre Assemblée constituante régionale québécoise!

.row
  .col-md-6
    %h3.no-margin.sub-section Réunions régionales

  .col-md-6
    %h3.no-margin.sub-section Responsables
    
    -if @hive.hive_contacts.any?
      -@hive.hive_contacts.each do |c|
        %div
          %strong= c.full_name
          -if c.email.present?
            %br/
            =mail_to c.email

          -if c.phone.present?
            %br/
            =c.phone

          -if c.fb_page.present?
            %br/
            =link_to "Page Facebook", c.fb_page, target: "_blank"

          %hr/
    -else
      %p Il n'y a aucun responsable à afficher pour le moment

    -if @hive.fb_url.present?
      %p
        =fa_icon "facebook-square"
        =link_to "Page facebook de l'ACRQ #{show_hive_number(@hive.number)}", @hive.fb_url, target: "_blank"
