-content_for :page_title do
  Gestion des ACRQ

-breadcrumb :admin_hives
.row
  -@hives.each do |h|
    .col-md-3.col-sm-6
      .btn-group.hive-dropdown
        %button.btn.btn-default.btn-md.dropdown-toggle{type: "button", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false"}
          %strong=show_hive_number(h.number) + ". " + h.name
          %span.caret
        %ul.dropdown-menu
          %li= link_to "Informations", edit_admin_hive_path(h)
          %li= link_to "Responsables", admin_hive_hive_contacts_path(h)
          %li= link_to "Réunions", admin_hive_hive_meetings_path(h)