-content_for :page_title do
  Toutes les réunions de l'ACRQ « #{@hive.name} »

-breadcrumb :hive_meetings, @hive
.row
  .col-md-12  
    %table.table.table-condensed.table-striped.table-hover#past-meetings
      %thead
        %tr
          %th Date
          %th Endroit
          %th Compte-rendu
      %tbody
        -@meetings.each do |m|
          %tr
            %td= l(m.meeting_date, format: :long)
            %td= m.location
            %td
              -if m.report.url.present?
                =fa_icon("download")
                =link_to "Télécharger le compte-rendu", m.report.url, target: "_blank"
              -else
                Le compte-rendu n'est pas disponible          
