body {
  font-family: 'PT Sans', sans-serif;
   font-size: 17px; 
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'PT Sans', sans-serif;
}

.navbar-brand {
  padding: 0;
}


#manifesto ol li, #manifesto ul li {
  margin-bottom:15px;
 
}

h2.sub-section, h3.sub-section {
  color: $black;
  border-bottom: 1px solid #ddd;
  padding-bottom:4px;
}

ul#hives {
  margin:0;
  padding:0;
}

ul#hives li {
  margin-bottom:5px;
}

a.highlight {
  color: $red2;
  text-decoration: underline;
}

a.highlight:hover, a.highlight:active {
  color: $red;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  &.no-margin {
    margin-top: 0;
    padding-top: 0;
  }
}

.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
    font-size: smaller;
}

.caption a {
  color: #fff;
  text-decoration: underline;
}


/* Sticky footer */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 120px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #317EAC;
  font-size: smaller;
}

footer .text-muted {
  margin: 15px 0;
  color: #eee;
}

footer .text-muted a {
  color: #eee;
  text-decoration: underline;
}

ul#last-signatures li {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

no-margin {
  margin-top:0;
  margin-bottom:0;
}


/* On demand youtube containers */
.youtube-container { display: block; margin: 20px auto; width: 100%; max-width: 600px; }
.youtube-player { display: block; width: 100%; /* assuming that the video has a 16:9 ratio */ padding-bottom: 56.25%; overflow: hidden; position: relative; width: 100%; height: 100%; cursor: hand; cursor: pointer; display: block; }
img.youtube-thumb { bottom: 0; display: block; left: 0; margin: auto; max-width: 100%; width: 100%; position: absolute; right: 0; top: 0; height: auto }
div.play-button { height: 72px; width: 72px; left: 50%; top: 50%; margin-left: -36px; margin-top: -36px; position: absolute; background: url("http://i.imgur.com/TxzC70f.png") no-repeat; }
#youtube-iframe { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }