%h2.sub-section
  NOUS, constituant.e.s


%h3 Qui sommes-nous? 

%p
  =image_tag "organigramme/nous.jpg", class: "img-responsive thumbnail"

%p
  « Nous, Constituant.e.s, nous nous engageons à promouvoir, à préparer et à exiger la convocation d'une Assemblée constituante non partisane, libre de ses délibérations, et à tout mettre en œuvre pour obtenir que soit respectée la volonté du peuple. »                                                 
%p
  Tel est l’objectif des Québécois et des Québécoises qui s’engagent avec nous. Affirmer être Constituant.e.s et vouloir exercer ce pouvoir ne nécessite aucun prérequis ou compétence particulière. Exercer son pouvoir constituant est pour nous un geste citoyen responsable. Ce geste permet de comprendre le mode de fonctionnement d’une Assemblée constituante vraiment démocratique.

%p
  La maitrise de ce processus constituant permettra de mieux informer nos réseaux respectifs et mènera à la rédaction d’une première constitution vraiment démocratique une fois que l’Assemblée constituante aura été convoquée. Il n’en tient qu’à NOUS pour qu’elle le soit.
%p
  Tout être humain partageant un territoire et désirant participer à définir son organisation sociale et la façon dont il entend se gouverner est, selon nous, en droit de le faire. L’ouverture d’esprit, l’écoute et le respect des autres sont des ingrédients essentiels pour ceux et celles qui aspirent à occuper des postes de responsabilité. 

%blockquote
  %strong ENSEMBLE, tout est possible! 

%p
  =link_to "Merci de signer notre manifeste", manifest_path