%h2.sub-section
  Nos responsables régionaux

%p
  =image_tag "organigramme/responsables_regionaux.jpg", class: "img-responsive thumbnail"

%section#responsable-ram
  %h3.sub-section Responsable de l’accueil et de la mobilisation (RAM) 

  %p
    Le rôle de ce responsable est d'une très grande importance afin de permettre aux nouveaux constituant.e.s  de bien comprendre le sens de notre démarche et de prendre connaissance le plus rapidement possible des développements passés et en cours. Les tâches suivantes incombent au responsable de l'accueil et de la mobilisation des membres (RAM) : 

  %ul
    %li
      Accueille sur la page Facebook de son ACRQ les personnes intéressées à nous rejoindre et les informe dans les plus brefs délais possible des activités et des développements dans sa région;  avant d'ajouter un membre, s'assure que la personne est vraiment de sa région, sinon, l'invite à se joindre son ACRQ. Il prend aussi le temps de jeter un coup d'œil au profil du nouveau membre;

    %li
      Contacte d'abord la personne par messagerie Facebook pour lui souhaiter la bienvenue et lui demander si elle accepte de s'entretenir au téléphone avec lui, les communications de vive voix étant fortement recommandées pour établir un lien personnalisé;

    %li 
      S'assure que le nouveau ou la nouvelle a pris connaissance du manifeste et des énoncés de mission et sinon, l'encourage à le faire et à signer notre manifeste (ne pas oublier de mentionner que nous prendrons soin de respecter la confidentialité des informations personnelles); 

    %li
      Encourage le nouveau membre à visionner les vidéos disponibles dans la médiathèque de notre site Internet. Trois vidéos sont fortement recommandées : "Sommes-nous en démocratie?", "Vers la vraie démocratie" et "Chercher la cause des causes" d'Étienne Chouard; LIENS URL

    %li
      Invite les constituant.e.s à utiliser les outils promotionnels mis à sa disposition pour nous faire connaître;

    %li
      Recrute des constituant.e.s pour nous accompagner et faire de la mobilisation;    

    %li
      S’acquitte des différents mandats qui lui sont confiés ou dont il a pris la responsabilité; 

    %li
      S’assure de l’exactitude et de la conformité de tous les rapports inhérents aux différents mandats dont il a la responsabilité et présente ceux-ci au Comité organisateur national dans les délais demandés; 

    %li
      Surveille les conflits d’intérêts et s’abstient de se trouver dans cette situation;

    %li
      Accomplit toute autre tâche jugée pertinente.


%section#responsable-rsr
  %h3.sub-section Responsable des services en région (RSR)
  %p
    Le responsable des services en région est le représentant officiel de sa région et il est responsable de la surveillance générale des affaires en cours de son ACRQ. Il est le lien de sa région avec les autres régions, lors des Tables nationales. Il a également la responsabilité de prendre les mesures nécessaires pour assurer le bon fonctionnement des rencontres régionales de sa région. Les tâches suivantes incombent au RSR et s’ajoutent à ses tâches de responsabilité :

  %ul
    %li En collaboration avec les autres responsables de sa région, établit  les objectifs et les priorités visant à satisfaire les besoins de son ACRQ; 
    %li Fixe, conjointement avec les autres responsables, le calendrier des réunions et des séances informatives dans son ACRQ; 
    %li Procède à tous les préparatifs nécessaires pour la tenue de toute rencontre (réservation de salle, équipements, etc.); 
    %li Coordonne l’ensemble des activités de son ACRQ et s’assure du suivi des dossiers; 
    %li Assure le bon fonctionnement de son ACRQ en suivant les politiques générales élaborées; 
    %li Retransmet les propositions entérinées par les autres régions aux membres de son ACRQ, lors des assemblées régionales;
    %li S’acquitte des différents mandats qui lui sont confiés ou dont il a pris la responsabilité; 
    %li S’assure de l’exactitude et de la conformité de tous les rapports inhérents aux différents mandats dont il a la responsabilité et présente ceux-ci au Comité organisateur national dans les délais prescrits; 
    %li Surveille les conflits d’intérêts et s’abstient de se trouver dans cette situation.
    %li Accomplit toute autre tâche jugée pertinente.

%section#secretaire
  %h3.sub-section Secrétaire
  %p Les tâches suivantes incombent au secrétaire et s’ajoutent à ses tâches de responsabilité :

  %ul
    %li De concert avec les autres responsables régionaux, détermine et prépare l’ordre du jour des réunions;
    %li Convoque les rencontres; 
    %li Rédige les procès-verbaux de toutes les réunions;
    %li S’assure de l’exactitude des procès-verbaux des réunions et les achemine au Comité de secrétariat national;
    %li Conserve les procès-verbaux et les dossiers de toutes les réunions et en envoie une copie au national; 
    %li Assume la responsabilité du contenu, de la mise à jour et de la publication des documents officiels de son ACRQ et y appose sa signature; 
    %li Contribue, sur demande des autres officiers en région, à la rédaction ou à la révision de lettres, de documents et de correspondances officielles;
    %li S’acquitte des différents mandats qui lui sont confiés ou dont il a pris la responsabilité; 
    %li S’assure de l’exactitude et de la conformité de tous les rapports inhérents aux différents mandats dont il a la responsabilité et présente ceux-ci au Comité organisateur national dans les délais prescrits; 
    %li Surveille les conflits d’intérêts et évite de se trouver dans cette situation;
    %li Accomplit toute autre tâche jugée pertinente.

%section#tresorier
  %h3.sub-section Trésorier
  %p Les tâches suivantes incombent au trésorier et s’ajoutent à ses tâches de responsabilité :

  %ul
    %li Voit à la garde des biens de son ACRQ, qu'il administre en collaboration avec les autres officiers régionaux et tient les livres de comptabilité; 
    %li Présente un compte rendu financier à chaque réunion mensuelle de sa région et un bilan complet à l'assemblée annuelle, conformes aux bonnes pratiques comptables; 
    %li Assume la responsabilité de la saine gestion des affaires financières et de la présentation d’états financiers conformes aux bonnes pratiques comptables; 
    %li Approuve les dépenses de son ACRQ et émet les chèques; 
    %li Signe les documents financiers pertinents de sa région; 
    %li En fonction des décisions prises dans sa région, s'assure qu’une portion des profits générés seront remis au Comité organisateur national; 
    %li S’acquitte des différents mandats qui lui sont confiés ou dont il a pris la responsabilité; 
    %li S’assure de l’exactitude et de la conformité de tous les rapports inhérents aux différents mandats dont il a la responsabilité et présente ceux-ci au Comité organisateur national dans les délais prescrits; 
    %li Surveille les conflits d’intérêts et s’abstient de se trouver dans cette situation;
    %li Accomplit toute autre tâche jugée pertinente.


%section#porte-parole
  %h3.sub-section Porte-parole
  %p
    Les tâches suivantes incombent au porte-parole et s’ajoutent à ses tâches de responsabilité :

  %ul
    %li Développe des stratégies pour établir et maintenir des liens entre son ACRQ et le public à l’aide des divers médias de sa région;
    %li Donne un visage à son ACRQ dans les événements publics;
    %li Permet aux opinions véhiculées par son ACRQ d'être connues;
    %li Est un point central de contact avec les médias;
    %li Augmente la visibilité de son ACRQ et améliore la perception de celle-ci par le public;
    %li Est présent lors des conférences de presse et des événements médiatisés;
    %li Donne des interviews aux journalistes dans le cadre d'une campagne de relations de presse;
    %li Fait connaître publiquement son implication auprès de son ACRQ;
    %li Développe un réseau de contacts qui puissent être éventuellement utiles;
    %li Orchestre les campagnes d'information publique et les séances informatives en collaboration avec le comité communications;
    %li Donne des conférences sur des sujets connexes aux activités de son ACRQ, ce qui le positionne en tant qu’expert en son domaine;
    %li S’acquitte de toutes les tâches ou tous les mandats qui lui sont confiés ou dont il a pris la responsabilité; 
    %li S’assure de l’exactitude et de la conformité de tous les rapports inhérents aux différents mandats dont il a la responsabilité et présente ceux-ci au Comité organisateur national dans les délais prescrits;
    %li Surveille les conflits d’intérêts et s’abstient de se trouver dans cette situation; 
    %li Accomplit toute autre tâche jugée pertinente.